{% extends 'base--logged.html' %}
{% load humanize %}
{% block main--loged %}
    <div class="HeaderModules">
        <h2 class="HeaderModules-title">Dashboard</h2>
    </div>
    <section class="InfoModules">

    </section>
{% endblock %}