{% extends 'base.html' %}
{% block main %}
    <section class="Main">
        <div class="u-va-container">
            <div class="LoginContainer">
                <h1 class="Login-tittle">Fundación Escuela Taller de Bogotá</h1>
                <h2 class="Login-tittle">Aplicativo academico</h2>
                <div class="FormLogin">
                    <div class="FormLogin-header">
                        <h2 class="FormLogin-title">Bienvenido</h2>
                    </div>
                    <div class="FormLogin-content">
                        <form action="." method="post">
                            {% csrf_token %}
                            <div class="FormLogin-input">
                                <span class="FormLogin-label--user fa fa-user"></span>
                                {{ form_login.username }}
                            </div>
                            <div class="FormLogin-input">
                                <span class="FormLogin-label--pass fa fa-unlock"></span>
                                {{ form_login.password }}
                            </div>
                            <div class="FormLogin-actions">
                                <button class="Button Button--default"><span class="fa fa-sign-in"></span> Ingresar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}