{% extends 'base--logged.html' %}
{% block main--loged %}
    {% for m in object_list %}
        {% if m.ratenotes_set.all|length > 0 %}
            {% if m.is_past_due %}
                <p>{{ m.matter.name_matter }} --{{ m.day_week }}-- {{ m.schedule }} {{ m.date_init }}</p>
            {% else %}
                <p><a href="{% url 'ratings:rate-edit' m.id %}">{{ m.matter.name_matter }} --{{ m.day_week }}-- {{ m.schedule }} {{ m.date_init }}</a></p>
            {% endif %}
            {% for s in m.ratenotes_set.all %}
                <ul>
                    <li>{{ s.student }} - {{ s.qualification }}</li>
                </ul>
            {% endfor %}
        {% else %}
            {% if m.is_past_due %}
                <p>{{ m.matter.name_matter }} --{{ m.day_week }}-- {{ m.schedule }} {{ m.date_init }}</p>
            {% else %}
                <p><a href="{% url 'ratings:rate' m.id %}">{{ m.matter.name_matter }} --{{ m.day_week }}-- {{ m.schedule }} {{ m.date_init }}</a></p>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}