{% extends 'base--logged.html' %}
{% block main--loged %}
{#    <form action="." method="post">#}
{#        {% csrf_token %}#}
{#        {{ formset.management_form }}#}
{#        {% for f in formset %}#}
{#            {% for student in students %}#}
{#                {% if forloop.parentloop.counter0 == forloop.counter0 %}#}
{#                    {{ student.student.get_full_name_student }}<input value="{{ student.student.id }}" type="hidden" id="id_form-{{ forloop.counter0 }}-student" name="form-{{ forloop.counter0 }}-student">#}
{#                    {{ student.student.get_full_name_student }}<input value="{{ student.student.id }}" type="hidden" id="id_ratenotes_set-{{ forloop.counter0 }}-student" name="ratenotes_set-{{ forloop.counter0 }}-student">#}
{#                    {{ f.qualification }}#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        {% endfor %}#}
{#        <button type="submit">Guardar</button>#}
{#    </form>#}
    {% for a in rates %}
        <p>{{ a.student.get_full_name_student }} -- {{ a.qualification }}</p>

    {% endfor %}
    <form action="." method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for f in formset %}
            {{ f.instance.student }}{{ f.id }}{{ f.qualification }}
        {% endfor %}
        <button type="submit">Guardar</button>
    </form>

{% endblock %}