{% extends 'base--logged.html' %}
{% block main--loged %}
    <form action="." method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for f in formset %}
            {% for student in students %}
                {% if forloop.parentloop.counter0 == forloop.counter0 %}
                    {{ student.student.get_full_name_student }}<input value="{{ student.student.id }}" type="hidden" id="id_attendance_set-{{ forloop.counter0 }}-student" name="attendance_set-{{ forloop.counter0 }}-student">
                    {{ f.attendance }}
                {% endif %}
            {% endfor %}
        {% endfor %}
        <button type="submit">Guardar</button>
    </form>
{% endblock %}