{% extends 'base--logged.html' %}
{% block main--loged %}
    {% for m in object_list %}
        {% if m.attendance_set.all|length > 0 %}
            {% if m.is_past_due %}
                <p>{{ m.matter.name_matter }} --{{ m.day_week }}-- {{ m.schedule }} {{ m.date_init }}</p>
            {% else %}
                <p><a href="{% url 'attendance:attendance-edit' m.id %}">{{ m.matter.name_matter }} --{{ m.day_week }}-- {{ m.schedule }} {{ m.date_init }}</a></p>
            {% endif %}
            <ul>
            {% for s in m.attendance_set.all %}
                <li>{{ s.student }} - {{ s.attendance }}</li>
            {% endfor %}
            </ul>
        {% else %}
            {% if m.is_past_due %}
                <p>{{ m.matter.name_matter }} --{{ m.day_week }}-- {{ m.schedule }} {{ m.date_init }}</p>
            {% else %}
                <p><a href="{% url 'attendance:attendance' m.id %}">{{ m.matter.name_matter }} --{{ m.day_week }}-- {{ m.schedule }} {{ m.date_init }}</a></p>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}