{% extends 'base--logged.html' %}
{% block main--loged %}
    {% for a in rates %}
        <p>{{ a.student.get_full_name_student }} -- {{ a.qualification }}</p>

    {% endfor %}
    <form action="." method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for f in formset %}
            {{ f.instance.student }}{{ f.id }}{{ f.attendance }}
        {% endfor %}
        <button type="submit">Guardar</button>
    </form>

{% endblock %}