@import url(../css/normalize.css);
@import url(../css/font-awesome.css);
@font-face { font-family: "lato"; font-style: normal; font-weight: normal; src: url("../fonts/Lato-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular-webfont.woff2") format("woff2"), url("../fonts/Lato-Regular-webfont.woff") format("woff"), url("../fonts/Lato-Regular-webfont.ttf") format("truetype"), url("../fonts/Lato-Regular-webfont.svg#lato") format("svg"); }
/* COLORS VARS */
/* Default styling for jQuery Datepicker v5.0.1. */
.datepick { background-color: #fff; color: #000; border: 1px solid #444; border-radius: 0.25em; -moz-border-radius: 0.25em; -webkit-border-radius: 0.25em; font-family: Arial, Helvetica, Sans-serif; font-size: 90%; }

.datepick-rtl { direction: rtl; }

.datepick-popup { z-index: 1000; }

.datepick-disable { position: absolute; z-index: 100; background-color: white; opacity: 0.5; filter: alpha(opacity=50); }

.datepick a { color: #fff; text-decoration: none; }

.datepick a.datepick-disabled { color: #888; cursor: auto; }

.datepick button { margin: 0.25em; padding: 0.125em 0em; background-color: #fcc; border: none; border-radius: 0.25em; -moz-border-radius: 0.25em; -webkit-border-radius: 0.25em; font-weight: bold; }

.datepick-nav, .datepick-ctrl { float: left; width: 100%; background-color: royalblue; color: #fff; font-size: 90%; font-weight: bold; }

.datepick-ctrl { background-color: orange; }

.datepick-cmd { width: 30%; }

.datepick-cmd:hover { background-color: #777; }

.datepick-ctrl .datepick-cmd:hover { background-color: #f08080; }

.datepick-cmd-prevJump, .datepick-cmd-nextJump { width: 8%; }

a.datepick-cmd { height: 1.5em; }

button.datepick-cmd { text-align: center; }

.datepick-cmd-prev, .datepick-cmd-prevJump, .datepick-cmd-clear { float: left; padding-left: 2%; }

.datepick-cmd-current, .datepick-cmd-today { float: left; width: 35%; text-align: center; }

.datepick-cmd-next, .datepick-cmd-nextJump, .datepick-cmd-close { float: right; padding-right: 2%; text-align: right; }

.datepick-rtl .datepick-cmd-prev, .datepick-rtl .datepick-cmd-prevJump, .datepick-rtl .datepick-cmd-clear { float: right; padding-left: 0%; padding-right: 2%; text-align: right; }

.datepick-rtl .datepick-cmd-current, .datepick-rtl .datepick-cmd-today { float: right; }

.datepick-rtl .datepick-cmd-next, .datepick-rtl .datepick-cmd-nextJump, .datepick-rtl .datepick-cmd-close { float: left; padding-left: 2%; padding-right: 0%; text-align: left; }

.datepick-month-nav { float: left; background-color: #777; text-align: center; }

.datepick-month-nav div { float: left; width: 12.5%; margin: 1%; padding: 1%; }

.datepick-month-nav span { color: #888; }

.datepick-month-row { clear: left; }

.datepick-month { float: left; width: 15em; text-align: center; }
.datepick-month table tbody tr { line-height: 21px; }

.datepick-month-header, .datepick-month-header select, .datepick-month-header input { height: 1.5em; background-color: #444; color: #fff; font-weight: bold; }

.datepick-month-header select, .datepick-month-header input { height: 1.4em; margin: 0em; padding: 0em; border: none; font-size: 100%; width: auto; }

.datepick-month-header input { position: absolute; display: none; }

.datepick-month table { width: 100%; border-collapse: collapse; }

.datepick-month thead { border-bottom: 1px solid #aaa; }

.datepick-month th, .datepick-month td { margin: 0em; padding: 0em; font-weight: normal; text-align: center; }

.datepick-month th { border: 1px solid #777; }

.datepick-month th, .datepick-month th a { background-color: #777; color: #fff; }

.datepick-month td { background-color: #eee; border: 1px solid #aaa; }

.datepick-month td.datepick-week { border: 1px solid #777; }

.datepick-month td.datepick-week * { background-color: #777; color: #fff; border: none; }

.datepick-month a { display: block; width: 100%; padding: 0.125em 0em; background-color: #eee; color: #000; text-decoration: none; }

.datepick-month span { display: block; width: 100%; padding: 0.125em 0em; }

.datepick-month td span { color: #888; }

.datepick-month td .datepick-other-month { background-color: #fff; }

.datepick-month td .datepick-weekend { background-color: #ddd; }

.datepick-month td .datepick-today { background-color: #f0c0c0; }

.datepick-month td .datepick-highlight { background-color: #f08080; }

.datepick-month td .datepick-selected { background-color: #777; color: #fff; }

.datepick-month th.datepick-week { background-color: #777; color: #fff; }

.datepick-status { clear: both; background-color: #ddd; text-align: center; }

.datepick-clear-fix { clear: both; }

/* ----- COMMONS ----- */
*, *::after, *::before { box-sizing: border-box; }

html, body { height: 100%; }

body { background: url("../images/squairy_light.png") repeat; font-family: "lato", serif; }

.Footer { -webkit-align-self: flex-end; -moz-align-self: flex-end; align-self: flex-end; -ms-flex-item-align: end; background-color: #c0c0c0; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -webkit-flex: 1 100%; -moz-flex: 1 100%; -ms-flex: 1 100%; flex: 1 100%; height: 48px; width: 100%; }

.Main { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; height: 100%; height: 100vh; -webkit-box-pack: center; -moz-box-pack: center; box-pack: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; -o-justify-content: center; justify-content: center; -ms-flex-pack: center; }
.Main--login { background-color: #fafafa; padding: 1em; min-height: 100%; min-height: 100vh; }

.Wrapper { height: 100%; height: 100vh; padding-left: 200px; padding-top: 50px; width: 100%; }

.Sidebar { background-color: rgba(255, 255, 255, 0.5); border-right: 1px solid #cccccc; height: 100%; height: 100vh; left: 0; padding-top: 50px; position: fixed; top: 0; width: 200px; }

.Nav { margin-top: 1em; padding: 0; }
.Nav-item { list-style: none; }
.Nav-link { border-left: 5px solid transparent; color: #333333; display: block; line-height: 23px; padding: 0.25em 1em; text-decoration: none; }
.Nav-link i { width: 2em; }
.Nav-link:hover { background-color: rgba(200, 200, 200, 0.9); font-weight: bold; }
.Nav-link.active { background-color: rgba(200, 200, 200, 0.8); border-left: 5px solid #38761D; font-weight: bold; }

/* ----- UTILITIES ----- */
.u-va-container { -webkit-box-align: center; -moz-box-align: center; box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; -ms-flex-align: center; display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; height: 100%; height: 100vh; }

.u-success { color: #228b22; }

.u-failure { color: #cd5c5c; }

.u-pagination { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -moz-box-pack: center; box-pack: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; -o-justify-content: center; justify-content: center; -ms-flex-pack: center; text-align: center; width: 100%; }

.u-current-page { margin: 0.5em 1em; }

.u-step-links { margin: 0.5em 0; }
.u-step-links a { color: #333333; text-decoration: none; }
.u-step-links a:hover { text-decoration: underline; }
.u-step-links--previous { text-align: right; }
.u-step-links--next { text-align: left; }

.u-full-width { width: 100%; }

.u-third-width { width: 33%; }

.u-half-width { width: 49%; }

.u-quarter-width { width: 24%; }

.u-fifth-width { width: 19.5%; }
.u-fifth-width .chosen-container { width: 100% !important; }

.u-display-flex { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }

.errorlist { color: #b22222; list-style: none; margin: 0; padding: 0; }

.u-chosen-container { width: 90% !important; }

.u-center { text-align: center; }

.u-height-edit { padding: 8px 0; }

.u-text-warning { color: darkred; font-weight: bold; }

.u-textaling-center { text-align: center; }
.u-textaling-left { text-align: left; }
.u-textaling-right { text-align: right; }

.u-bold { font-weight: bold; }

.u-position--relative { position: relative; }
.u-position--absolute { position: absolute; }
.u-position--fixed { position: fixed; }

/* ------ BUTTONS ------ */
.Button { background-color: #ffffff; border: 1px solid #cccccc; border-radius: 0.25em; display: inline-block; line-height: 0; padding: 0.5em; text-decoration: none; }
.Button--default { background-color: #879031; color: #ffffff; }
.Button--warning { background-color: #234c1f; color: #ffffff; }
.Button--success { background-color: #228b22; color: #ffffff; }

/* ----- TABLES ----- */
table { text-align: left; width: 100%; }
table td, table th { padding-left: 1em; }
table thead { background-color: #f5f5f5; border-bottom: 1px solid #cccccc; line-height: 32px; }
table tbody tr { line-height: 40px; }
table tbody tr:nth-child(even) { background-color: #e1f5fe; }

/* ----- FORMS ----- */
form { width: 100%; }

input { border: 1px solid #cccccc; padding: 0.5em; width: 100%; }

label { display: inline-block; line-height: 36px; }

select { background-color: #ffffff; border: 1px solid #cccccc; display: inline-block; height: 36px; line-height: 36px; width: 100%; }

.Input--text { height: 70px; }
.Input--full-width { width: 100%; }
.Input--d2 { width: 2em; }
.Input--d4 { width: 4em; }
.Input--auto-width { width: auto; }

.FormModules { padding-top: 1em; }
.FormModules-row { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; margin: 0.5em 0; align-items: center; }
.FormModules-row--justify { -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; -ms-flex-pack: justify; }
.FormModules-row--left { -webkit-box-pack: start; -moz-box-pack: start; box-pack: start; -webkit-justify-content: flex-start; -moz-justify-content: flex-start; -ms-justify-content: flex-start; -o-justify-content: flex-start; justify-content: flex-start; -ms-flex-pack: start; }
.FormModules-row--right { -webkit-box-pack: end; -moz-box-pack: end; box-pack: end; -webkit-justify-content: flex-end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; -o-justify-content: flex-end; justify-content: flex-end; -ms-flex-pack: end; }
.FormModules-row--top { -webkit-box-align: start; -moz-box-align: start; box-align: start; -webkit-align-items: flex-start; -moz-align-items: flex-start; -ms-align-items: flex-start; -o-align-items: flex-start; align-items: flex-start; -ms-flex-align: start; }
.FormModules--middle-width { margin: 48px auto 0; width: 50%; }

.Select--full-width { width: 100%; }

#id_day_week { margin: 0; padding: 0; }
#id_day_week li { display: inline-block; }
#id_day_week li input { display: inline-block; width: 24px; }

/* ----- HEADER ----- */
.Header { background-color: white; border-bottom: 2px solid #234c1f; height: 50px; line-height: 50px; padding: 0 0 0 1em; position: fixed; width: 100%; z-index: 1000; display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; -ms-flex-pack: justify; }

.App-name { margin: 0; vertical-align: top; color: #879031; }

.Brand { margin: 0; display: block; }
.Brand-name { margin: 0; display: inline-block; vertical-align: top; color: #879031; }
.Brand-img { height: 47px; display: inline-block; }

.User { font-weight: bold; padding: 0 1em; background: #234c1f; color: white; cursor: pointer; }
.User-menu { position: absolute; top: 50px; right: 0; border: 1px solid black; background: white; padding: 0 1em; display: none; }
.User-menu ul { list-style: none; margin: 0; padding: 0; }
.User-menu a { color: black; text-decoration: none; }
.User-menu a:hover { text-decoration: underline; }

/* ----- LOGIN ----- */
.Login-tittle { text-align: center; margin: 0 0 0.5em 0; }

.FormLogin { background-color: #ffffff; border: 1px solid #000000; border-radius: 1em; margin: 0 auto; width: 300px; }
.FormLogin-header { background-color: #cccccc; border-radius: 1em 1em 0 0; text-align: center; margin-bottom: 1em; }
.FormLogin-title { box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5); margin: 0; padding: 0.5em; }
.FormLogin-content { padding: 0.5em 1em; }
.FormLogin-input { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; margin-bottom: 0.5em; }
.FormLogin-input--user, .FormLogin-input--pass { -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; }
.FormLogin-input--user:last-child, .FormLogin-input--pass:last-child { border-radius: 0 0.25em 0.25em 0; border-left: 0; }
.FormLogin-label--user, .FormLogin-label--pass { background-color: rgba(147, 128, 108, 0.1); padding: 0.5em 0.75em; }
.FormLogin-label--user:first-child, .FormLogin-label--pass:first-child { border: 1px solid #cccccc; border-radius: 0.25em 0 0 0.25em; }
.FormLogin-actions { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -moz-box-pack: end; box-pack: end; -webkit-justify-content: flex-end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; -o-justify-content: flex-end; justify-content: flex-end; -ms-flex-pack: end; }

.HeaderModules { border-bottom: 1px solid #cccccc; display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; height: 40px; -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; -ms-flex-pack: justify; }
.HeaderModules-title { line-height: 40px; margin: 0; }

.ListItems-module { margin-top: 0.5em; }

/* Filtros */
/* Detail */
.Detail { padding-top: 1em; }
.Detail-row { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0.5em 0; align-items: center; }
.Detail-row--justify { -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; -ms-flex-pack: justify; }
.Detail-row--left { -webkit-box-pack: start; -moz-box-pack: start; box-pack: start; -webkit-justify-content: flex-start; -moz-justify-content: flex-start; -ms-justify-content: flex-start; -o-justify-content: flex-start; justify-content: flex-start; -ms-flex-pack: start; }
.Detail-row--right { -webkit-box-pack: end; -moz-box-pack: end; box-pack: end; -webkit-justify-content: flex-end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; -o-justify-content: flex-end; justify-content: flex-end; -ms-flex-pack: end; }
.Detail h3 { width: 100%; margin-bottom: 0; border-bottom: 1px solid #c0c0c0; }
.Detail .column { width: 33.33%; padding: 1em 1em 0; }
.Detail .column .detail__item { margin: 0.5em 0 0; padding-bottom: 0.5em; border-bottom: 1px solid black; }
.Detail .column p { width: 100%; margin: 0; }
.Detail .column span { font-weight: bold; width: 30%; text-align: right; padding-right: 1em; }
.Detail .column--fullwidth { width: 100%; padding: 0 1em; }
.Detail .column--halfwidth { width: 50%; }
.Detail .column--quarterwidth { width: 25%; }
.Detail .column--fourteenwidth { width: 40%; }
.Detail .column--tenwidth { width: 10%; }

.Photo-student { position: absolute; top: 16px; right: 0; width: 216px; height: 288px; overflow: hidden; }
.Photo-student img { width: 100%; }

/*# sourceMappingURL=styles.css.map */
