/* ------ BUTTONS ------ */
.Button
    background-color: #ffffff
    border: 1px solid $grey2
    border-radius: 0.25em
    display: inline-block
    line-height: 0
    padding: 0.5em
    text-decoration: none

    &--default
        background-color: $green_font1
        color: #ffffff

    &--warning
        background-color: $green_bg
        color: #ffffff

    &--success
        background-color: #228b22
        color: #ffffff