/* ----- COMMONS ----- */
*, *::after, *::before
    box-sizing: border-box

html,
body
    height: 100%

body
    background: url("../images/squairy_light.png") repeat
    font-family: "lato", serif

.Footer
    +align-self(flex-end)
    background-color: $grey1
    +flex(1 100%)
    height: 48px
    width: 100%

.Main
    +display(flex)
    +flex(1)
    height: 100%
    height: 100vh
    +justify-content(center)
    &--login
        background-color: #fafafa
        padding: 1em
        min-height: 100%
        min-height: 100vh

.Wrapper
    height: 100%
    height: 100vh
    padding-left: 200px
    padding-top: 50px
    width: 100%

.Sidebar
    background-color: rgba(255, 255, 255, 0.5)
    border-right: 1px solid $grey2
    height: 100%
    height: 100vh
    left: 0
    padding-top: 50px
    position: fixed
    top: 0
    width: 200px

.Nav
    margin-top: 1em
    padding: 0
    &-item
        list-style: none
    &-link
        border-left: 5px solid transparent
        color: #333333
        display: block
        line-height: 23px
        padding: 0.25em 1em
        text-decoration: none
        i
            width: 2em
        &:hover
            background-color: rgba(200, 200, 200, 0.9)
            font-weight: bold
        &.active
            background-color: rgba(200, 200, 200, 0.8)
            border-left: 5px solid $green_font2
            font-weight: bold