/* ----- FORMS ----- */
form
    width: 100%

input
    border: 1px solid $grey2
    padding: 0.5em
    width: 100%

label
    display: inline-block
    line-height: 36px

select
    background-color: #ffffff
    border: 1px solid $grey2
    display: inline-block
    height: 36px
    line-height: 36px
    width: 100%

.Input
    &--text
        height: 70px

    &--full-width
        width: 100%

    &--d2
        width: 2em

    &--d4
        width: 4em

    &--auto-width
        width: auto

.FormModules
    padding-top: 1em

    &-row
        +display(flex)
        margin: 0.5em 0
        align-items: center
        &--justify
            @include justify-content(space-between)

        &--left
            @include justify-content(flex-start)

        &--right
            @include justify-content(flex-end)
        &--top
            +align-items(flex-start)

    &--middle-width
        margin: 48px auto 0
        width: 50%

.Select--full-width
    width: 100%


#id_day_week
    margin: 0
    padding: 0
    li
        display: inline-block
        input
            display: inline-block
            width: 24px