/* ----- HEADER ----- */
.Header
    background-color: white
    border-bottom: 2px solid $green_bg
    height: 50px
    line-height: 50px
    padding: 0 0 0 1em
    position: fixed
    width: 100%
    z-index: 1000
    +display(flex)
    +justify-content(space-between)


.App
    &-name
        margin: 0
        vertical-align: top
        color: $green_font1
.Brand
    margin: 0
    display: block
    &-name
        margin: 0
        display: inline-block
        vertical-align: top
        color: $green_font1

    &-img
        height: 47px
        display: inline-block
.User
    font-weight: bold
    padding: 0 1em
    background: $green_bg
    color: white
    cursor: pointer
    &-menu
        position: absolute
        top: 50px
        right: 0
        border: 1px solid black
        background: white
        padding: 0 1em
        display: none
        ul
            list-style: none
            margin: 0
            padding: 0
        a
            color: black
            text-decoration: none
            &:hover
                text-decoration: underline