/* ----- LOGIN ----- */
.Login-tittle
    text-align: center
    margin: 0 0 0.5em 0

.FormLogin
    background-color: #ffffff
    border: 1px solid #000000
    border-radius: 1em
    margin: 0 auto
    width: 300px
    &-header
        background-color: $grey2
        border-radius: 1em 1em 0 0
        text-align: center
        margin-bottom: 1em

    &-title
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5)
        margin: 0
        padding: 0.5em

    &-content
        padding: 0.5em 1em

    &-input
        +display(flex)
        margin-bottom: 0.5em
        &--user,
        &--pass
            +flex(1)
            &:last-child
                border-radius: 0 0.25em 0.25em 0
                border-left: 0

    &-label
        &--user,
        &--pass
            background-color: rgba(147, 128, 108, 0.1)
            padding: 0.5em 0.75em
            &:first-child
                border: 1px solid $grey2
                border-radius: 0.25em 0 0 0.25em

    &-actions
        +display(flex)
        +justify-content(flex-end)