.HeaderModules
    border-bottom: 1px solid $grey2
    +display(flex)
    height: 40px
    +justify-content(space-between)
    &-title
        line-height: 40px
        margin: 0

//.Info
//    &--last-contract
//        text-align: center
//        font-size: 20px
//        width: 90%
//        margin: 1em auto 0
//        border: 1px solid darkseagreen
//        border-radius: 0.5em
//        background: $green_bg
//        padding: 0.5em
//        color: white
//    &--lists-contracts
//        +display(flex)
//    &--contracts-expires,
//    &--contracts-in-ejecution
//        width: 50%
//        margin: 0.5em

.ListItems
    &-module
        margin-top: 0.5em


/* Filtros */
//.FormFilter
//    +display(flex)
//    +flex-wrap(wrap)
//    +flex-direction(row)
//    +justify-content(flex-end)
//    &-item
//        width: 33.3%
//        padding: 0.5em 0
//        label
//            width: 21%
//            text-align: right
//            padding-right: 0.5em
//        input,
//        select
//            width: 78%
//        &--half
//            width: 50%;
//
//    &--vertical
//        padding: 0 0.5em
//        .FormFilter-item
//            width: 100%
//            padding: 0.25em
//            label
//                width: 100%
//                text-align: left
//                line-height: 1
//
//            input,
//            select
//                width: 100%
//                height: 24px
//                line-height: 24px
//
//        #amount_filter
//            font-size: 12px
//            text-align: center
//            margin-bottom: 1em

/* Detail */
.Detail
    padding-top: 1em
    &-row
        +display(flex)
        +flex-wrap(wrap)
        margin: 0.5em 0
        align-items: center
        &--justify
            @include justify-content(space-between)

        &--left
            @include justify-content(flex-start)

        &--right
            @include justify-content(flex-end)
    h3
        width: 100%
        margin-bottom: 0
        border-bottom: 1px solid $grey1

    .column
        width: 33.33%
        padding: 1em 1em 0
        .detail__item
            margin: 0.5em 0 0
            padding-bottom: 0.5em
            border-bottom: 1px solid black

        p
            width: 100%
            margin: 0

        span
            font-weight: bold
            width: 30%
            text-align: right
            padding-right: 1em

        &--fullwidth
            width: 100%
            padding: 0 1em

        &--halfwidth
            width: 50%

        &--quarterwidth
            width: 25%

        &--fourteenwidth
            width: 40%

        &--tenwidth
            width: 10%

.Photo-student
    position: absolute
    top: 16px
    right: 0
    width: 216px
    height: 288px
    overflow: hidden
    img
        width: 100%