/* ----- UTILITIES ----- */
.u-va-container
    +align-items(center)
    +display(flex)
    height: 100%
    height: 100vh

.u-success
    color: #228b22

.u-failure
    color: #cd5c5c

.u-pagination
    +display(flex)
    +justify-content(center)
    text-align: center
    width: 100%

.u-current-page
    margin: 0.5em 1em

.u-step-links
    margin: 0.5em 0
    a
        color: #333333
        text-decoration: none
        &:hover
            text-decoration: underline
    &--previous
        text-align: right
    &--next
        text-align: left

.u-full-width
    width: 100%

.u-third-width
    width: 33%

.u-half-width
    width: 49%

.u-quarter-width
    width: 24%

.u-fifth-width
    width: 19.5%
    .chosen-container
        width: 100% !important

.u-display-flex
    +display(flex)

.errorlist
    color: #b22222
    list-style: none
    margin: 0
    padding: 0

.u-chosen-container
    width: 90% !important

.u-center
    text-align: center

.u-height-edit
    padding: 8px 0

.u-text-warning
    color: darkred
    font-weight: bold

.u-textaling
    &-center
        text-align: center
    &-left
        text-align: left
    &-right
        text-align: right

.u-bold
    font-weight: bold

.u-position
    &--relative
        position: relative
    &--absolute
        position: absolute
    &--fixed
        position: fixed