{% extends 'base--logged.html' %}
{% load static from staticfiles %}
{% block main--loged %}
    <div class="HeaderModules">
        <h2 class="HeaderModules-title">Listado de profesores</h2>
        <div class="HeaderModules-actions">
            {% if perms.teachers.add_teacher %}
                <a href="{% url 'teacher:add' %}" class="Button Button--default"><i class="fa fa-plus-circle"></i> Incluir Profesor</a>
            {% endif %}
        </div>
    </div>
    <section class="ListItems-module">
        <table>
            <thead>
                <tr>
                    <th>Nombre completo</th>
                    <th>Identificación</th>
                    <th>Celular</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for s in object_list %}
                    <tr>
                        <td><a href="{% url 'teacher:detail' s.id %}">{{ s.user.get_full_name }}</a></td>
                        <td>{{ s.document_number }}</td>
                        <td>{{ s.cellphone }}</td>
                        <td><a class="Button Button--warning" href="{% url 'teacher:edit' s.id %}"><i class="fa fa-edit"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}