{% extends 'base--logged.html' %}
{% load static from staticfiles %}
{% block main--loged %}
    <div class="HeaderModules">
        {# TODO: Verificar titulo cuando se edita #}
        {% if request.resolver_match.url_name == 'add' %}
            <h2 class="HeaderModules-title">Agregar profesor</h2>
        {% else %}
            <h2 class="HeaderModules-title">{{ object.get_full_name }}</h2>
        {% endif %}
        <div class="HeaderModules-actions">
            <a href="{% url 'teacher:list' %}" class="Button Button--default"><i class="fa fa-arrow-circle-left"></i> Volver al listado</a>
        </div>
    </div>
    <section class="FormModules">
        <form action="." method="post" enctype="multipart/form-data" id="student_form">
            {% csrf_token %}

            <div class="FormModules-row FormModules-row--justify">
                <div class="u-half-width">{{ form.first_name.label_tag }}</div>
                <div class="u-half-width">{{ form.last_name.label_tag }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-half-width">{{ form.first_name }}{{ form.first_name.errors }}</div>
                <div class="u-half-width">{{ form.last_name }}{{ form.last_name.errors }}</div>
            </div>

            <div class="FormModules-row FormModules-row--justify">
                <div class="u-quarter-width">{{ form.username.label_tag }}</div>
                <div class="u-quarter-width">{{ form.password.label_tag }}</div>
                <div class="u-half-width">{{ form.email.label_tag }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-quarter-width">{{ form.username }}{{ form.username.errors }}</div>
                <div class="u-quarter-width">{{ form.password }}{{ form.password.errors }}</div>
                <div class="u-half-width">{{ form.email }}{{ form.email.errors }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-quarter-width">{{ form.document_type.label_tag }}</div>
                <div class="u-quarter-width">{{ form.document_number.label_tag }}</div>
                <div class="u-half-width">&nbsp;</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-quarter-width">{{ form.document_type }}{{ form.document_type.errors }}</div>
                <div class="u-quarter-width">{{ form.document_number }}{{ form.document_number.errors }}</div>
                <div class="u-half-width">&nbsp;</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-half-width">{{ form.address.label_tag }}</div>
                <div class="u-quarter-width">{{ form.phone.label_tag }}</div>
                <div class="u-quarter-width">{{ form.cellphone.label_tag }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-half-width">{{ form.address }}{{ form.address.errors }}</div>
                <div class="u-quarter-width">{{ form.phone }}{{ form.phone.errors }}</div>
                <div class="u-quarter-width">{{ form.cellphone }}{{ form.cellphone.errors }}</div>
            </div>
            <div class="FormModules-row FormModules-row--right">
                <button class="Button Button--default" type="submit"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </form>
    </section>
{% endblock %}