{% extends 'base--logged.html' %}
{% load static from staticfiles %}
{% block main--loged %}
    <div class="HeaderModules">
        <h2 class="HeaderModules-title">{{ object.get_full_name }}</h2>
        <div class="HeaderModules-actions">
            <a href="{% url 'teacher:list' %}" class="Button Button--default"><i class="fa fa-arrow-circle-left"></i> Volver al listado</a>
        </div>
    </div>
    <section class="FormModules">
        <div class="FormModules-row FormModules-row--justify FormModules-row--top">
            <div class="u-half-width">
                <h3>Datos básicos</h3>
                <div class="FormModules-row FormModules-row--justify">
                    <div class="u-half-width u-textaling-right">Nombres y Apellidos</div>
                    <div class="u-half-width">{{ object.get_full_name }}</div>
                </div>
                <div class="FormModules-row FormModules-row--justify">
                    <div class="u-half-width u-textaling-right">usuario</div>
                    <div class="u-half-width">{{ object.user.username }}</div>
                </div>

                <div class="FormModules-row FormModules-row--justify">
                    <div class="u-half-width u-textaling-right">correo electrónico</div>
                    <div class="u-half-width">{{ object.user.email }}</div>
                </div>

                <div class="FormModules-row FormModules-row--justify">
                    <div class="u-half-width u-textaling-right">Tipo y número de documento</div>
                    <div class="u-half-width">{{ object.get_document_type_display }} {{ object.document_number }}</div>
                </div>

                <div class="FormModules-row FormModules-row--justify">
                    <div class="u-half-width u-textaling-right">Dirección</div>
                    <div class="u-half-width">{{ object.address }}</div>
                </div>

                <div class="FormModules-row FormModules-row--justify">
                    <div class="u-half-width u-textaling-right">Teléfono</div>
                    <div class="u-half-width">{{ object.phone }}</div>
                </div>

                <div class="FormModules-row FormModules-row--justify">
                    <div class="u-half-width u-textaling-right">Celular</div>
                    <div class="u-half-width">{{ object.cellphone }}</div>
                </div>
            </div>
            <div class="u-half-width">
                <h3>Materias</h3>
                {% for m in object.syllabus_set.all %}
                    <div class="FormModules-row FormModules-row--justify">
                        <div class="u-full-width">{{ m.matter.name_matter }}</div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}