{% extends 'base.html' %}
{% load static from staticfiles %}
{% load home_extras %}
{% block header %}
    <header class="Header">{% block header--loged %}
        <div class="Brand">
            <img class="Brand-img" src="{% static 'images/logo_fetb.jpg' %}" alt=""/>
            <h2 class="Brand-name">Fundación Escuela Taller de Bogotá</h2>
        </div>
        <div class="App">
            <h3 class="App-name">Aplicativo academico</h3>
        </div>
        <div class="UserContainer">
            <div class="User">
                {{ user.get_full_name }}
            </div>
            <div class="User-menu is_hidden">
                <ul>
                    {#                <li><a href="{% static 'pdfs/Manual_v1.1.pdf' %}" target="_blank"><i class="fa fa-question-circle"></i> Ayuda</a></li>#}
                    <li><a href="{% url 'home:logout' %}">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    {% endblock %}</header>
{% endblock %}
{% block main %}
    <div class="Wrapper">
        <section class="Sidebar">
            <ul class="Nav">
            {% if user|has_group:'Asistente' or user.is_superuser %}
                <h3>Asistente</h3>
                {% for i in menu_assistant %}
                    {% if i.submenu %}
                        <li class="Nav-item">
                            <div class="Nav-link"><i class="fa fa-{{ i.icon }}"></i>{{ i.name }}</div>
                            <ul>
                            {% for s in i.submenu %}
                                <li class="Nav-item"><a href="{{ s.url }}" class="Nav-link {% if s.active %}active{% endif %}"><i class="fa fa-{{ s.icon }}"></i>{{ s.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="Nav-item"><a href="{{ i.url }}" class="Nav-link {% if i.active %}active{% endif %}"><i class="fa fa-{{ i.icon }}"></i>{{ i.name }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if user|has_group:'Profesor' or user.is_superuser %}
                <h3>Docente</h3>
                {% for i in menu_teachers %}
                    {% if i.submenu %}
                        <li class="Nav-item">
                            <div class="Nav-link"><i class="fa fa-{{ i.icon }}"></i>{{ i.name }}</div>
                            <ul>
                            {% for s in i.submenu %}
                                <li class="Nav-item"><a href="{{ s.url }}" class="Nav-link {% if s.active %}active{% endif %}"><i class="fa fa-{{ s.icon }}"></i>{{ s.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="Nav-item"><a href="{{ i.url }}" class="Nav-link {% if i.active %}active{% endif %}"><i class="fa fa-{{ i.icon }}"></i>{{ i.name }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </ul>

            {% block filters %}

            {% endblock %}
        </section>
        <section class="Main--login">
            {% block main--loged %}{% endblock %}
        </section>
    </div>
{% endblock %}
{% block footer %}
{#    <footer>{% block footer--loged %}{% endblock %}</footer>#}
{% endblock %}
{% block JS %}
    <script src="{% static 'js/vendor/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}