{% extends 'base--logged.html' %}
{% load static from staticfiles %}
{% block main--loged %}
    <div class="HeaderModules">
        {# TODO: Verificar titulo cuando se edita #}
        <h2 class="HeaderModules-title">Agregar estudiante</h2>
        <div class="HeaderModules-actions">
            <a href="{% url 'student:list' %}" class="Button Button--default"><i class="fa fa-arrow-circle-left"></i> Volver al listado</a>
        </div>
    </div>
    <section class="FormModules">
        <form action="." method="post" enctype="multipart/form-data" id="student_form">
            {% csrf_token %}

            <div class="FormModules-row FormModules-row--justify">
                <div class="u-half-width">{{ form.first_name.label_tag }}</div>
                <div class="u-half-width">{{ form.last_name.label_tag }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-half-width">{{ form.first_name }}{{ form.first_name.errors }}</div>
                <div class="u-half-width">{{ form.last_name }}{{ form.last_name.errors }}</div>
            </div>

            <div class="FormModules-row FormModules-row--justify">
                <div class="u-third-width">{{ form.document_type.label_tag }}</div>
                <div class="u-third-width">{{ form.document_number.label_tag }}</div>
                <div class="u-third-width">{{ form.document_expedition.label_tag }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-third-width">{{ form.document_type }}{{ form.document_type.errors }}</div>
                <div class="u-third-width">{{ form.document_number }}{{ form.document_number.errors }}</div>
                <div class="u-third-width">{{ form.document_expedition }}{{ form.document_expedition.errors }}</div>
            </div>

            <div class="FormModules-row FormModules-row--left">
                <div class="u-quarter-width">
                    {{ form.birth_date.label_tag }}
                </div>
            </div>
            <div class="FormModules-row FormModules-row--left">
                <div class="u-quarter-width">
                    {{ form.birth_date }}{{ form.birth_date.errors }}
                </div>
            </div>

            <div class="FormModules-row FormModules-row--justify">
                <div class="u-third-width">{{ form.birth_department.label_tag }}</div>
                <div class="u-third-width">{{ form.birth_town.label_tag }}</div>
                <div class="u-third-width">{{ form.nationality.label_tag }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-third-width">{{ form.birth_department }}{{ form.birth_department.errors }}</div>
                <div class="u-third-width">{{ form.birth_town }}{{ form.birth_town.errors }}</div>
                <div class="u-third-width">{{ form.nationality }}{{ form.nationality.errors }}</div>
            </div>

            <div class="FormModules-row FormModules-row--left">
                <div class="u-quarter-width">
                    {{ form.gender.label_tag }}
                </div>
            </div>
            <div class="FormModules-row FormModules-row--left">
                <div class="u-quarter-width">
                    {{ form.gender }}{{ form.gender.errors }}
                </div>
            </div>

            <div class="FormModules-row FormModules-row--justify">
                <div class="u-third-width">{{ form.home_department.label_tag }}</div>
                <div class="u-third-width">{{ form.home_town.label_tag }}</div>
                <div class="u-third-width">{{ form.home_neighborhood.label_tag }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-third-width">{{ form.home_department }}{{ form.home_department.errors }}</div>
                <div class="u-third-width">{{ form.home_town }}{{ form.home_town.errors }}</div>
                <div class="u-third-width">{{ form.home_neighborhood }}{{ form.home_neighborhood.errors }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-full-width">{{ form.home_address.label_tag }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-full-width">{{ form.home_address }}{{ form.home_address.errors }}</div>
            </div>

            <div class="FormModules-row FormModules-row--justify">
                <div class="u-half-width">{{ form.email.label_tag }}</div>
                <div class="u-quarter-width">{{ form.phone.label_tag }}</div>
                <div class="u-quarter-width">{{ form.cellphone.label_tag }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-half-width">{{ form.email }}{{ form.email.errors }}</div>
                <div class="u-quarter-width">{{ form.phone }}{{ form.phone.errors }}</div>
                <div class="u-quarter-width">{{ form.cellphone }}{{ form.cellphone.errors }}</div>
            </div>

            <div class="FormModules-row FormModules-row--justify">
                <div class="u-quarter-width">{{ form.stratum.label_tag }}</div>
                <div class="u-quarter-width">{{ form.civil_state.label_tag }}</div>
                <div class="u-quarter-width">{{ form.has_sisben.label_tag }}</div>
                <div class="u-quarter-width">{{ form.level_sisben.label_tag }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-quarter-width">{{ form.stratum }}{{ form.stratum.errors }}</div>
                <div class="u-quarter-width">{{ form.civil_state }}{{ form.civil_state.errors }}</div>
                <div class="u-quarter-width">{{ form.has_sisben }}{{ form.has_sisben.errors }}</div>
                <div class="u-quarter-width">{{ form.level_sisben }}{{ form.level_sisben.errors }}</div>
            </div>

            <div class="FormModules-row FormModules-row--justify">
                <div class="u-quarter-width">{{ form.ethnic.label_tag }}</div>
                <div class="u-quarter-width">{{ form.disability_type.label_tag }}</div>
                <div class="u-quarter-width">{{ form.blood_type.label_tag }}</div>
                <div class="u-quarter-width">{{ form.education_level.label_tag }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-quarter-width">{{ form.ethnic }}{{ form.ethnic.errors }}</div>
                <div class="u-quarter-width">{{ form.disability_type }}{{ form.disability_type.errors }}</div>
                <div class="u-quarter-width">{{ form.blood_type }}{{ form.blood_type.errors }}</div>
                <div class="u-quarter-width">{{ form.education_level }}{{ form.education_level.errors }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-half-width">{{ form.photo.label_tag }}</div>
                <div class="u-half-width">{{ form.state.label_tag }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-half-width">{{ form.photo }}{{ form.photo.errors }}</div>
                <div class="u-half-width">{{ form.state }}{{ form.state.errors }}</div>
            </div>

            <div class="FormModules-row FormModules-row--justify">
                <h3>Datos persona de contacto</h3>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-half-width">{{ form.contact_first_name.label_tag }}</div>
                <div class="u-half-width">{{ form.contact_last_name.label_tag }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-half-width">{{ form.contact_first_name }}{{ form.contact_first_name.errors }}</div>
                <div class="u-half-width">{{ form.contact_last_name }}{{ form.contact_last_name.errors }}</div>
            </div>

            <div class="FormModules-row FormModules-row--justify">
                <div class="u-half-width">{{ form.contact_address.label_tag }}</div>
                <div class="u-quarter-width">{{ form.contact_phone.label_tag }}</div>
                <div class="u-quarter-width">{{ form.contact_type.label_tag }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-half-width">{{ form.contact_address }}{{ form.contact_address.errors }}</div>
                <div class="u-quarter-width">{{ form.contact_phone }}{{ form.contact_phone.errors }}</div>
                <div class="u-quarter-width">{{ form.contact_type }}{{ form.contact_type.errors }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <h3>Inscripción</h3>
            </div>
            <div class="FormModules-row FormModules-row--left">
                <div class="u-quarter-width">
                    {{ form.program.label_tag }}
                </div>
                <div class="u-quarter-width">
                    {{ form.program }}{{ form.program.errors }}
                </div>
            </div>
            <div class="FormModules-row FormModules-row--right">
                <button class="Button Button--default" type="submit"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </form>
    </section>
{% endblock %}
{% block JS %}
    {{ block.super }}
    <script src="{% static 'js/vendor/jquery.plugin.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.datepick.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.datepick-es-PE.js' %}"></script>
    <script src="{% static 'js/student.js' %}"></script>
{% endblock %}