{% extends 'base--logged.html' %}
{% load static from staticfiles %}
{% block main--loged %}
    <div class="HeaderModules">
        <h2 class="HeaderModules-title">Listado de estudiantes</h2>
        <div class="HeaderModules-actions">
            {% if perms.student.add_student %}
                <a href="{% url 'student:add' %}" class="Button Button--default"><i class="fa fa-plus-circle"></i> Agregar Estudiante</a>
            {% endif %}
        </div>
    </div>
    <section class="ListItems-module">
        <table>
            <thead>
                <tr>
                    <th>Nombre completo</th>
                    <th>Identificación</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for s in object_list %}
                    <tr>
                        {% if perms.student.view_student %}
                            <td><a href="{% url 'student:detail' s.id %}">{{ s.get_full_name_student }}</a></td>
                        {% else %}
                            <td>{{ s.get_full_name_student }}</td>
                        {% endif %}
                        <td>{{ s.document_number }}</td>
                        <td><a href="{% url 'student:edit' s.id %}" class="Button Button--default"><i class="fa fa-edit"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}