{% extends 'base--logged.html' %}
{% load static from staticfiles %}
{% block main--loged %}
    <div class="HeaderModules">
        {# TODO: Verificar titulo cuando se edita #}
        <h2 class="HeaderModules-title">{{ object.get_full_name_student }}</h2>
        <div class="HeaderModules-actions">
            <a href="{% url 'student:print_intensity' object.id %}" class="Button Button--default"><i class="fa fa-file-text"> Certificación</i></a>
            <a href="{% url 'student:print_qualification' object.id %}" class="Button Button--default"><i class="fa fa-file-text-o"> Sabana Notas</i></a>
            <a href="{% url 'student:print_diploma' object.id %}" class="Button Button--default"><i class="fa fa-graduation-cap"> Diploma</i></a>
            <a href="{% url 'student:edit' object.id %}" class="Button Button--default"><i class="fa fa-edit"> Editar</i></a>
            <a href="{% url 'student:list' %}" class="Button Button--default"><i class="fa fa-arrow-circle-left"></i> Volver al listado</a>
        </div>
    </div>
    <section class="Detail u-position--relative">
        <div class="Photo-student"><img src="{{ MEDIA_URL }}{{ object.photo }}" alt=""></div>
        <div class="Detail-row Detail-row--justify">
            <div class="u-half-width u-bold">Nombres</div>
            <div class="u-half-width u-bold">Apellidos</div>
        </div>
        <div class="Detail-row Detail-row--justify">
            <div class="u-half-width">{{ object.first_name }}</div>
            <div class="u-half-width">{{ object.last_name }}</div>
        </div>

        <div class="Detail-row Detail-row--justify">
            <div class="u-third-width u-bold">Tipo documento</div>
            <div class="u-third-width u-bold">Número de documento</div>
            <div class="u-third-width u-bold">Lugar de expedición</div>
        </div>
        <div class="Detail-row Detail-row--justify">
            <div class="u-third-width">{{ object.document_type }}</div>
            <div class="u-third-width">{{ object.document_number }}</div>
            <div class="u-third-width">{{ object.document_expedition }}</div>
        </div>

        <div class="Detail-row Detail-row--left">
            <div class="u-quarter-width u-bold">
                Fecha de nacimiento
            </div>
        </div>
        <div class="Detail-row Detail-row--left">
            <div class="u-quarter-width">
                {{ object.birth_date }}
            </div>
        </div>

        <div class="Detail-row Detail-row--justify">
            <div class="u-third-width u-bold">Departamento de Nacimiento</div>
            <div class="u-third-width u-bold">Ciudad/Municipio de Nacimiento</div>
            <div class="u-third-width u-bold">Nacionalidad</div>
        </div>
        <div class="Detail-row Detail-row--justify">
            <div class="u-third-width">{{ object.birth_department }}</div>
            <div class="u-third-width">{{ object.birth_town }}</div>
            <div class="u-third-width">{{ object.nationality }}</div>
        </div>

        <div class="Detail-row Detail-row--left">
            <div class="u-quarter-width u-bold">
                Sexo
            </div>
        </div>
        <div class="Detail-row Detail-row--left">
            <div class="u-quarter-width">
                {{ object.get_gender_display }}
            </div>
        </div>
        <div class="Detail-row Detail-row--justify">
            <div class="u-third-width u-bold">Departamento de residencia</div>
            <div class="u-third-width u-bold">Ciudad/Municipio de residencia</div>
            <div class="u-third-width u-bold">Barrio de residencia</div>
        </div>
        <div class="Detail-row Detail-row--justify">
            <div class="u-third-width">{{ object.home_department }}</div>
            <div class="u-third-width">{{ object.home_town }}</div>
            <div class="u-third-width">{{ object.home_neighborhood }}</div>
        </div>
        <div class="Detail-row Detail-row--justify">
            <div class="u-full-width u-bold">Dirección de residencia</div>
        </div>
        <div class="Detail-row Detail-row--justify">
            <div class="u-full-width">{{ object.home_address }}</div>
        </div>

        <div class="Detail-row Detail-row--justify">
            <div class="u-half-width u-bold">Correo electrónico</div>
            <div class="u-quarter-width u-bold">Teléfono</div>
            <div class="u-quarter-width u-bold">Celular</div>
        </div>
        <div class="Detail-row Detail-row--justify">
            <div class="u-half-width">{{ object.email }}</div>
            <div class="u-quarter-width">{{ object.phone }}</div>
            <div class="u-quarter-width">{{ object.cellphone }}</div>
        </div>

        <div class="Detail-row Detail-row--justify">
            <div class="u-quarter-width u-bold">Estrato</div>
            <div class="u-quarter-width u-bold">Estado civil</div>
            <div class="u-quarter-width u-bold">Tiene sisben</div>
            <div class="u-quarter-width u-bold">Nivel de sisben</div>
        </div>
        <div class="Detail-row Detail-row--justify">
            <div class="u-quarter-width">{{ object.stratum }}</div>
            <div class="u-quarter-width">{{ object.get_civil_state_display }}</div>
            <div class="u-quarter-width">{{ object.has_sisben|yesno:'Si, No' }}</div>
            <div class="u-quarter-width">{{ object.level_sisben }}</div>
        </div>

        <div class="Detail-row Detail-row--justify">
            <div class="u-quarter-width u-bold">Grupo Étnico</div>
            <div class="u-quarter-width u-bold">Tipo de discapacidad</div>
            <div class="u-quarter-width u-bold">Tipo de sangre</div>
            <div class="u-quarter-width u-bold">Grado de escolaridad</div>
        </div>
        <div class="Detail-row Detail-row--justify">
            <div class="u-quarter-width">{{ object.get_ethnic_display }}</div>
            <div class="u-quarter-width">{{ object.get_disability_type_display }}</div>
            <div class="u-quarter-width">{{ object.get_blood_type_display }}</div>
            <div class="u-quarter-width">{{ object.get_education_level_display }}</div>
        </div>
        <div class="Detail-row Detail-row--left">
{#                <div class="u-half-width u-bold">Foto</div>#}
            <div class="u-half-width u-bold">Estado</div>
        </div>
        <div class="Detail-row Detail-row--left">
{#                <div class="u-half-width"><img src="{{ MEDIA_URL }}{{ object.photo }}" alt="" width="216"></div>#}
                <div class="u-half-width">{{ object.get_state_display }}</div>
        </div>

        <div class="Detail-row Detail-row--justify">
            <h3>Datos persona de contacto</h3>
        </div>
        <div class="Detail-row Detail-row--justify">
            <div class="u-half-width u-bold">Nombres</div>
            <div class="u-half-width u-bold">Apellidos</div>
        </div>
        <div class="Detail-row Detail-row--justify">
            <div class="u-half-width">{{ object.contact_first_name }}</div>
            <div class="u-half-width">{{ object.contact_last_name }}</div>
        </div>

        <div class="Detail-row Detail-row--justify">
            <div class="u-half-width u-bold">Dirección</div>
            <div class="u-quarter-width u-bold">Teléfono</div>
            <div class="u-quarter-width u-bold">Parentesco</div>
        </div>
        <div class="Detail-row Detail-row--justify">
            <div class="u-half-width">{{ object.contact_address }}</div>
            <div class="u-quarter-width">{{ object.contact_phone }}</div>
            <div class="u-quarter-width">{{ object.get_contact_type_display }}</div>
        </div>
        <div class="Detail-row Detail-row--justify">
            <h3>Programa Inscrito</h3>
        </div>
        {% for e in object.enrollment_set.all %}
            <div class="Detail-row Detail-row--left">
                <div class="u-quarter-width">{{ e.program }}</div>
            </div>
        {% endfor %}
        <div class="Detail-row Detail-row--justify">
            <h3>Calificaciones</h3>
        </div>
        {% for e in object.ratenotes_set.all %}
            {% if forloop.first %}
                <div class="Detail-row Detail-row--justify">
                    <div class="u-half-width">Materia</div>
                    <div class="u-half-width">Calificación</div>
                </div>
            {% endif %}
            <div class="Detail-row Detail-row--justify">
                <div class="u-half-width">{{ e.matter.matter.name_matter }}</div>
                <div class="u-half-width">{{ e.qualification }}</div>
            </div>
        {% endfor %}

        <div class="Detail-row Detail-row--justify">
            <h3>Asistencia</h3>
        </div>
        {% for e in object.attendance_set.all %}
            {% if forloop.first %}
                <div class="Detail-row Detail-row--justify">
                    <div class="u-half-width">Materia</div>
                    <div class="u-half-width">Asistencia</div>
                </div>
            {% endif %}
            <div class="Detail-row Detail-row--justify">
                <div class="u-half-width">{{ e.matter.matter.name_matter }}</div>
                <div class="u-half-width">{{ e.attendance }}</div>
            </div>
        {% endfor %}

    </section>
{% endblock %}