{% extends 'base--logged.html' %}
{% load static from staticfiles %}
{% block main--loged %}
    <div class="HeaderModules">
        <h2 class="HeaderModules-title">Listado de Programas</h2>
        <div class="HeaderModules-actions">
            {% if perms.syllabus.add_academicoffer %}
                <a href="{% url 'syllabus:academic_offer_add' %}" class="Button Button--default"><i class="fa fa-plus-circle"></i> Crear Programa</a>
            {% endif %}
        </div>
    </div>
    <section class="ListItems-module">
        <table>
            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Año</th>
                    <th>Jornada</th>
                    <th>Activo</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for s in object_list %}
                    <tr>
                        <td>{{ s.program.name_program }}</td>
                        <td>{{ s.year }}</td>
                        <td>{{ s.get_day_trip_display }}</td>
                        <td>{{ s.is_current|yesno:'Activo, Inactivo' }}</td>
                        <td><a class="Button Button--warning" href="{% url 'syllabus:academic_offer_edit' s.id %}"><i class="fa fa-edit"></i></a></td>
                        <td>
                            {% if s.is_current %}
                                <a class="Button Button--warning" href="{% url 'syllabus:syllabus_add' s.id %}"><i class="fa fa-map"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}