{% extends 'base--logged.html' %}
{% load static from staticfiles %}
{% block main--loged %}
    <div class="HeaderModules">
        {# TODO: Verificar titulo cuando se edita #}
        {% if request.resolver_match.url_name == 'add' %}
            <h2 class="HeaderModules-title">Agregar programa</h2>
        {% else %}
            <h2 class="HeaderModules-title">{{ object.get_description }}</h2>
        {% endif %}
        <div class="HeaderModules-actions">
            <a href="{% url 'syllabus:matter_home' %}" class="Button Button--default"><i class="fa fa-arrow-circle-left"></i> Volver al listado</a>
        </div>
    </div>
    <section class="FormModules">
        <form action="." method="post">
            {% csrf_token %}

            <div class="FormModules-row FormModules-row--justify">
                <div class="u-quarter-width">{{ form.program.label_tag }}</div>
                <div class="u-quarter-width">{{ form.year.label_tag }}</div>
                <div class="u-quarter-width">{{ form.day_trip.label_tag }}</div>
                <div class="u-quarter-width">{{ form.is_current.label_tag }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-quarter-width">{{ form.program }}{{ form.program.errors }}</div>
                <div class="u-quarter-width">{{ form.year }}{{ form.year.errors }}</div>
                <div class="u-quarter-width">{{ form.day_trip }}{{ form.day_trip.errors }}</div>
                <div class="u-quarter-width">{{ form.is_current }}{{ form.is_current.errors }}</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-quarter-width">{{ form.total_hours.label_tag }}</div>
                <div class="u-quarter-width">{{ form.week_hours.label_tag }}</div>
                <div class="u-half-width"></div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-quarter-width">{{ form.total_hours }}{{ form.total_hours.errors }}</div>
                <div class="u-quarter-width">{{ form.week_hours }}{{ form.week_hours.errors }}</div>
                <div class="u-half-width"></div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-quarter-width">&nbsp;</div>
                <div class="u-half-width">
                    &nbsp;
                </div>
                <div class="u-quarter-width u-textaling-right">
                    <button class="Button Button--default" type="submit"><i class="fa fa-save"></i> Guardar</button>
                </div>

            </div>
        </form>
    </section>
{% endblock %}