{% extends 'base--logged.html' %}
{% load static from staticfiles %}
{% block main--loged %}
    <div class="HeaderModules">
        <h2 class="HeaderModules-title">Listado de Materias</h2>
        <div class="HeaderModules-actions">
            {% if perms.syllabus.add_matter %}
                <a href="{% url 'syllabus:matter_add' %}" class="Button Button--default"><i class="fa fa-plus-circle"></i> Crear materia</a>
            {% endif %}
        </div>
    </div>
    <section class="ListItems-module">
        <table>
            <thead>
                <tr>
                    <th>Código de la materia</th>
                    <th>Nombre de la materia</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for s in object_list %}
                    <tr>
                        <td>{{ s.cod_matter }}</td>
                        <td>{{ s.name_matter }}</td>
                        <td><a class="Button Button--warning" href="{% url 'syllabus:matter_edit' s.id %}"><i class="fa fa-edit"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}