{% extends 'base--logged.html' %}
{% load static from staticfiles %}
{% block main--loged %}
    <div class="HeaderModules">
        {% if request.resolver_match.url_name == 'add' %}
            <h2 class="HeaderModules-title">Agregar curso</h2>
        {% else %}
            <h2 class="HeaderModules-title">{{ object.name_program }}</h2>
        {% endif %}
        <div class="HeaderModules-actions">
            <a href="{% url 'syllabus:program_home' %}" class="Button Button--default"><i class="fa fa-arrow-circle-left"></i> Volver al listado</a>
        </div>
    </div>
    <section class="FormModules">
        <form action="." method="post" enctype="multipart/form-data" id="student_form">
            {% csrf_token %}

            <div class="FormModules-row FormModules-row--justify">
                <div class="u-quarter-width">&nbsp;</div>
                <div class="u-half-width">{{ form.name_program.label_tag }}</div>
                <div class="u-quarter-width">&nbsp;</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-quarter-width">&nbsp;</div>
                <div class="u-half-width">{{ form.name_program }}{{ form.name_program.errors }}</div>
                <div class="u-quarter-width">&nbsp;</div>
            </div>
            <div class="FormModules-row FormModules-row--justify">
                <div class="u-quarter-width">&nbsp;</div>
                <div class="u-half-width u-textaling-right">
                    <button class="Button Button--default" type="submit"><i class="fa fa-save"></i> Guardar</button>
                </div>
                <div class="u-quarter-width">&nbsp;</div>

            </div>
        </form>
    </section>
{% endblock %}