{% extends 'base--logged.html' %}
{% load static from staticfiles %}
{% block main--loged %}
    <div class="HeaderModules">
        <h2 class="HeaderModules-title">Crear pensum</h2>
        <div class="HeaderModules-actions">
            <a href="{% url 'syllabus:academic_offer_home' %}" class="Button Button--default"><i class="fa fa-arrow-circle-left"></i> Volver al listado</a>
        </div>
    </div>
    <form action="." method="post" class="form">
        {% csrf_token %}
        <div class="FormModules-row FormModules-row--justify">
            <div class="u-half-width">{{ form.matter.label_tag }}</div>
            <div class="u-half-width">{{ form.teacher.label_tag }}</div>
        </div>
        <div class="FormModules-row FormModules-row--justify">
            <div class="u-half-width">{{ form.matter }}</div>
            <div class="u-half-width">{{ form.teacher }}</div>
        </div>
        <div class="FormModules-row FormModules-row--justify">
            <div class="u-half-width">{{ form.matter.errors }}</div>
            <div class="u-half-width">{{ form.teacher.errors }}</div>
        </div>
        <div class="FormModules-row FormModules-row--justify">
            <div class="u-fifth-width">{{ form.hours.label_tag }}</div>
            <div class="u-fifth-width">{{ form.hours_week.label_tag }}</div>
            <div class="u-fifth-width">{{ form.date_init.label_tag }}</div>
            <div class="u-fifth-width">{{ form.date_end.label_tag }}</div>
            <div class="u-fifth-width">{{ form.schedule.label_tag }}</div>
        </div>
        <div class="FormModules-row FormModules-row--justify">
            <div class="u-fifth-width">{{ form.hours }}</div>
            <div class="u-fifth-width">{{ form.hours_week }}</div>
            <div class="u-fifth-width">{{ form.date_init }}</div>
            <div class="u-fifth-width">{{ form.date_end }}</div>
            <div class="u-fifth-width">{{ form.schedule }}</div>
        </div>
        <div class="FormModules-row FormModules-row--justify">
            <div class="u-fifth-width">{{ form.hours.errors }}</div>
            <div class="u-fifth-width">{{ form.hours_week.errors }}</div>
            <div class="u-fifth-width">{{ form.date_init.errors }}</div>
            <div class="u-fifth-width">{{ form.date_end.errors }}</div>
            <div class="u-fifth-width">{{ form.schedule.errors }}</div>
        </div>
        <div class="FormModules-row FormModules-row--justify">
            <div class="u-half-width">{{ form.day_week.label_tag }}</div>
            <div class="u-half-width">{{ form.limit_report.label_tag }}</div>
        </div>
        <div class="FormModules-row FormModules-row--justify">
            <div class="u-half-width ">{{ form.day_week }}</div>
            <div class="u-half-width ">{{ form.limit_report }}</div>
        </div>
        <div class="FormModules-row FormModules-row--justify">
            <div class="u-half-width">{{ form.day_week.errors }}</div>
            <div class="u-half-width">{{ form.limit_report.errors }}</div>
        </div>
        <div class="FormModules-row FormModules-row--right">
            <button class="Button Button--warning" name="save" data-id="{{ program }}" type="submit"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </form>
    <hr>
    <h2>Pensum</h2>
    {% for p in pensum %}
        {% if forloop.first %}
            <table>
                <thead>
                    <tr>
                        <th>Materia</th>
                        <th>Día</th>
                        <th>Hora</th>
                        <th>Inicia</th>
                        <th>Termina</th>
                        <th>Horas</th>
                        <th>Profesor</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

        {% endif %}
                    <tr>
                        <td>{{ p.matter.name_matter }}</td>
                        <td>{{ p.get_day_week_display }}</td>
                        <td>{{ p.schedule }}</td>
                        <td>{{ p.date_init|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>{{ p.date_end|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>{{ p.hours }}</td>
                        <td>{{ p.teacher.get_full_name }}</td>
                        <th><a href="" class="Button Button--default syllabus-edit" data-id="{{ p.id }}"><i class="fa fa-edit"></i></a></th>
                        <th>
                            {% if perms.syllabus.delete_syllabus %}
                            <a href="{% url 'syllabus:syllabus_delete' program p.id  %}" class="Button Button--warning"><i class="fa fa-minus-circle"></i></a>
                            {% endif %}
                        </th>
                    </tr>
        {% if forloop.last %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}

{% endblock %}
{% block JS %}
    {{ block.super }}
    <script src="{% static 'js/csrf_ajax.js' %}"></script>
    <script src="{% static 'js/syllabus.js' %}"></script>
{% endblock %}