{% extends 'base--logged.html' %}
{% block main--loged %}
    <div class="HeaderModules">
        <h2 class="HeaderModules-title">Listado de Matriculas</h2>
        <div class="HeaderModules-actions">
{#            {% if perms.enrollment.add_enrollment %}#}
{#                <a href="{% url 'enrollment:add' %}" class="Button Button--default"><i class="fa fa-plus-circle"></i> Matricular</a>#}
{#            {% endif %}#}
        </div>
    </div>
{#    {% if perms.enrollment.add_enrollment %}#}
{#        <section class="FormInlineEnrollment">#}
{#            <form action="." method="post">#}
{#                {% csrf_token %}#}
{#                <div class="FormModules-row FormModules-row--justify">#}
{#                    <div class="u-half-width">{{ form.program.label_tag }}</div>#}
{#                    <div class="u-half-width">{{ form.student.label_tag }}</div>#}
{#                </div>#}
{#                <div class="FormModules-row FormModules-row--justify">#}
{#                    <div class="u-half-width">{{ form.program }}</div>#}
{#                    <div class="u-half-width">{{ form.student }}</div>#}
{#                </div>#}
{#                <div class="FormModules-row FormModules-row--justify">#}
{#                    <div class="u-half-width">{{ form.program.errors }}</div>#}
{#                    <div class="u-half-width">{{ form.student.errors }}</div>#}
{#                </div>#}
{#                <div class="FormModules-row FormModules-row--right">#}
{#                    <button type="submit" class="Button Button--default"><i class="fa fa-save"></i> Matricular</button>#}
{#                </div>#}
{#            </form>#}
{#        </section>#}
{#    {% endif %}#}
    <section class="ListItems-module">
{#        <h2>Matriculas</h2>#}
        {% for e in enrollment_list %}
            {% if forloop.first %}
                <table>
                    <thead>
                        <tr>
                            <th>Estudiante</th>
                            <th>Programa</th>
{#                            <th></th>#}
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
            {% endif %}
                        <tr>
                            <td>{{ e.student.get_full_name_student }}</td>
                            <td>{{ e.program.program.name_program }} - {{ e.program.get_day_trip_display }} - {{ e.program.year }}</td>
{#                            <td><a href="" class="Button Button--warning"><i class="fa fa-edit"></i></a></td>#}
                            <td>
                                {% if perms.enrollment.delete_enrollment %}
                                    <a href="{% url 'enrollment:delete' e.id %}" class="Button Button--warning"><i class="fa fa-minus-circle"></i></a>
                                {% endif %}
                            </td>
                        </tr>
            {% if forloop.last %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}