{% extends 'base--logged.html' %}
{% block main--loged %}
    <div class="HeaderModules">
        <h2 class="HeaderModules-title">Listado de Matriculas</h2>
        <div class="HeaderModules-actions">
{#            {% if perms.enrollment.add_enrollment %}#}
{#                <a href="{% url 'enrollment:add' %}" class="Button Button--default"><i class="fa fa-plus-circle"></i> Matricular</a>#}
{#            {% endif %}#}
        </div>
    </div>
    {% if perms.enrollment.delete_enrollment %}
        <section class="FormInlineEnrollment">
            <form action="." method="post">
                {% csrf_token %}
                <p>Esta seguro que desea eliminar la matricula de {{ object }}</p>
                <div class="FormModules-row FormModules-row--right">
                    <button type="submit" class="Button Button--default"><i class="fa fa-minus-circle"></i> Borrar</button>
                </div>
            </form>
        </section>
    {% endif %}
{% endblock %}